body {
    
    /*background-size: cover;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);*/
    
}

#background {
    
    width: 100%;
    height: 100px;
    
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    
}