ul {
    
    list-style-type: none;
    display: flex;
    justify-content: center;
    
    padding: 0;
    margin: 0;
    
}

.menuLink {
    
    display: block;
    text-decoration: none;
    text-align: center;
    
    width: 100px;
    height: 30px;
    padding-top: 12px;
    margin-left: 1px;
    background-color: #F0F0F0;
    color: #FFFFFF;
    
}

.menuItem:hover {
    
    background-color: grey;
    color: black;
    
}